#container {
Width 900px;
{
  
#p1  {
    font-family: italics;
    font-size:200%;
  }
  
#p3  {
    font-family: gothic;
  }

#p4  {
    font-family: old style;
  }
#p5 {
    font-family: slab;
  }


